
@margin: 8px;
@margin-md: @margin*2;
@margin-lg: @margin*4;

// font
@font-size-md: 14px;
@font-size-lg: 18px;

.row {
  margin-bottom: 8px;
}

.divider {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.gap-right {
  margin-right: @margin;
}

.inline-block {
  display: inline-block;
}
