@import "base";
@import "dblx/themes/default/custom";

.abc-table-header {
  margin: @margin 8px;
}

.ant-table {
  th {
    background: #f5f6fa;
    border-bottom: 1px solid #e1e6eb;
    padding: 8px;
    color: #999;
  }
  td, th {
    text-align: center;
  }
}

.table-tab {
  border-bottom: 1px solid @border-color-base;
  padding:@margin 0;
}

.table-container {
  border: 1px solid #e1e6eb;

  // 表头
  .table-header {
    background: #f5f6fa;
    height: 40px;
    border-bottom: 1px solid #e1e6eb;
    margin-bottom: 0;
    padding: 0;
    line-height: 40px;
    color: #333;
    font-size: @font-size-md;
    .text-table-header {
      border-left: 5px solid #6D7781;
      text-indent: @margin;
    }
  }
  .ant-table-pagination {
    padding-right: 8px;
  }
  // 分页按钮
  .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next {
    border-radius: 0;
  }
  margin-bottom: @margin-lg;
}
